* {
    border: none;
    border-radius: 0;
    font-family: sans;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0,0.6);
    color: white;
    border-bottom: 3px solid transparent; 
}

#window {
    font-weight: bold;
    font-family: "mono";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#tags button.focused {
    background: transparent;
    /*color: #c9545d;*/
    /*border-bottom: 2px solid #c9545d;*/
    color: #3EF6F6;
    border-bottom: 2px solid #3EF6F6;

}

#tags button.occupied {
    background: transparent;
    /*color: #c9545d;*/
    /*border-bottom: 2px solid #c9545d;*/
    color: #009A0B;
    /*border-bottom: 2px solid #009A0B;*/   

}


#workspaces button {
    padding: 0 2px;
    background: transparent;
    color: white;
}

#workspaces button.active {
    background: transparent;
    /*color: #c9545d;*/
    /*border-bottom: 2px solid #c9545d;*/
    color: #3EF6F6;
    border-bottom: 2px solid #3EF6F6;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#idle_inhibitor {
    padding: 0 10px;
    color: #ffffff;
}

#idle_inhibitor, #mpd, #clock, #battery, #cpu, #memory, #network, #pulseaudio, #temperature, #custom-spotify, #tray, #mode {
    background:  transparent;
    border-bottom: 3px solid #3EF6F6;
    padding: 0 10px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}
